
.App {
  font-family: sans-serif;
  text-align: center;
  
 }


#input{
  background-color:gray;
  color: white;
  border: 2px solid black;
  height: 40px;
  width: 445px;
  font-size: x-large;
  }
  .ac{
   background-color: lightgray;
   width: 226px;
   height: 35px; 
   font-size: larger;
  }
  .ac:hover{
    background-color: red;
  }
  .prcent{
    background-color: orange;
    width: 113px;
    height: 35px;
    font-size: larger;
  }
  .btn1{
    width: 113px;
  height: 35px;
  font-size: larger;
  }
  .equal{
    width: 226px;
    background-color: orange;
    height: 35px;
    font-size: larger;
  }
  .cal{
    font-style: italic;
    font-weight: bold;
    
  }